.App {
  text-align: center;
}

.paginationBttns {
  width: 80%;
  height: 40%;
  list-style: none;
  display: flex;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
}
